<!DOCTYPE html>

<html>
  <head>
    <title>
      Intro to Bootstrap
    </title>
    <link href='bootstrap/css/bootstrap.css' rel='stylesheet'/>
    <link href='css/RayOConnorSite.css' rel='stylesheet'/>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Home
          </a>
        </div>
      </div>
    </nav>

    <div class='container'>
      <div class="row">
        <div class="col-sm-4">
          <img src="img/hubspotPic.jpg" class="img-fluid img-circle profile-picture">
        </div>
        <div class="col-sm-8">
          <h1>Raymond O'Connor</h1>
          <h5>Software Engineer, HubSpot Blog Team</h5>
          <h5>CCIS, Northeastern University</h5>
        </div>
      </div>
      <div class='intro'>
        <h2>Ok cool... but why a website?</h2>
          <p>I see this website as my own personal corner of the internet.
            You came here with questions and here, on MY website, I will try to answer them.
            Consider this website my GitHub for Culture.
            Similar to how looking at git repo will give you an idea of technical ability,
            I believe this site will give you insight into cultural fit.
          </p>
      </div>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Links To Networking Sites
          </a>
        </div>
      </div>
    </nav>
  </body>
</html>