<!DOCTYPE html>

<html>
  <head>
    <title>
      Intro to Bootstrap
    </title>
    <link href='bootstrap/css/bootstrap.css' rel='stylesheet'/>
    <link href='css/RayOConnorSite.css' rel='stylesheet'/>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Navbar
          </a>
        </div>
      </div>
    </nav>

    <div class='container'>
      <div class="row">
        <div class="col-sm-12">
          <img src="img/impossibly-cute-puppy-8.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    </div>

    </div>
    <p>
      Line 1
    </p>
    <p>
      Line 2
    </p>
    <p>
      Line 3
    </p>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Links To Networking Sites
          </a>
        </div>
      </div>
    </nav>
  </body>
</html>