<!DOCTYPE html>

<html>
  <head>
    <title>
      Intro to Bootstrap
    </title>
    <link href='bootstrap/css/bootstrap.css'
          rel='stylesheet'/>
  </head>
    <h1>Bootstrap</h1>
  </body>
</html>